<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic template</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        </header>

        {{{body}}}

        
    
        <footer>
            Copyright 2008
        </footer>
    </div>
</body>
</html>