<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic template</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            {{#if currentUser}}
            <li>Hi, {{currentUser.username}}!</li>
            {{else}}
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
            {{/if}}
        </ul>
        </header>
        {{#if globalError}}
        <div class="alert alert-danger">
            {{globalError}}
        </div>
        {{/if}}
        {{{body}}}      
    
        <footer>
            Copyright 2008
        </footer>
    </div>
</body>
</html>