<div class="forms">
<form method="POST" action="/users/login">    
    <label for="uName">Username:</label>
    <input type="text" name="username" id="uName" />
    
    <label for="pass">Password:</label>  
    <input type="password" name="password" id="pass" />
    <br/>
    <input type="submit" value="Login"/>
</form>
</div>